*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;

  height: 100vh;
  font-family: "Roboto", sans-serif;

  display: flex;
  flex-direction: column;
}

h1,
h2,
h3 {
  margin: 0;
}

header {
  background-color: #fff2f2;
}

nav.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 60px;
}

nav.header-nav .nav-logo {
  background-color: #a9b5df;
  padding: 8px;
  border-radius: 100%;
  border: 2px solid transparent;
  color: #fff2f2;

  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

nav.header-nav .nav-logo:hover {
  background-color: #fff2f2;
  color: #a9b5df;
  border-color: #a9b5df;
}

nav.header-nav ul {
  display: flex;
  gap: 32px;
  list-style-type: none;
}

nav.header-nav ul li a {
  color: #2d336b;
  font-weight: 700;
  font-size: 1.1rem;
  text-decoration: none;

  transition: all 0.2s ease;
}

nav.header-nav ul li a:hover {
  color: #a9b5df;
  text-decoration: underline;
}

main {
  background-color: #fff2f2;
  padding: 40px 60px;
}

article#home {
  display: flex;
  gap: 100px;
  padding-inline: 100px;
}

section.home-content {
  align-self: center;
}

section.home-content h1 {
  font-size: 3em;
}

aside.home-image img {
  width: 280px;
  border-radius: 20px;
}
