*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;

  height: 100vh;
  font-family: "Roboto", sans-serif;

  display: flex;
  flex-direction: column;
}

h1,
h2,
h3 {
  margin: 0;
}

h2 {
  font-size: 32px;
}

p {
  font-size: 18px;
}

header {
  background-color: #fff2f2;
  display: inline;
  position: sticky;
  top: 0;
}

nav.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 60px;
  border-bottom: 2px solid black;
}

nav.header-nav .nav-logo {
  background-color: #2d336b;
  padding: 8px;
  border-radius: 100%;
  border: 2px solid transparent;
  color: #fff2f2;

  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

nav.header-nav .nav-logo:hover {
  background-color: #fff2f2;
  color: #2d336b;
  border-color: #2d336b;
}

nav.header-nav ul {
  display: flex;
  gap: 32px;
  list-style-type: none;
}

nav.header-nav ul li a {
  color: #2d336b;
  font-weight: 700;
  font-size: 1.1rem;
  text-decoration: none;

  transition: all 0.2s ease;
}

nav.header-nav ul li a:hover {
  color: #a9b5df;
  text-decoration: underline;
}

main {
  background-color: #fff2f2;
  padding: 0 60px;
}

main article {
  padding-block: 48px 68px;
  padding-inline: 100px;
  margin-block: 20px;
  box-shadow: 0 2px;
  /* border-top: 2px solid black; */
}

article#home {
  display: flex;
  gap: 100px;
}

section.home-content {
  align-self: center;
}

section.home-content h1 {
  font-size: 3em;
}

section.home-content ul {
  display: flex;
  gap: 16px;
  list-style-type: none;
  padding: 0;
}

section.home-content ul li {
  width: 40px;
  height: 40px;
  background-color: #2d336b;
  border-radius: 50%;
  border: 2px solid transparent;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: all 0.15s ease-in-out;
}

section.home-content ul li:hover {
  background-color: #fff2f2;
  border-color: #2d336b;
}

section.home-content ul li a i {
  font-size: 24px;
  color: #fff2f2;
  padding: 8px;

  transition: all 0.15s ease-in-out;
}

section.home-content ul li a i:hover {
  color: #2d336b;
}

aside.home-image img {
  width: 280px;
  border-radius: 20px;
}

article#about {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

div#about-content {
  display: flex;
  gap: 16px;
}

section#about-speciality {
  display: flex;
  flex-direction: column;
  align-items: center;
}

div#speciality ul {
  display: flex;
  list-style-type: none;
  gap: 20px;
  padding: 0;
}

div#speciality ul li {
  background-color: #2d336b;
  color: #fff2f2;
  width: 40px;
  height: 40px;

  border-radius: 50%;
  border: 2px solid transparent;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: all 0.15s ease-in-out;
  cursor: pointer;
}

div#speciality ul li:hover {
  background-color: #fff2f2;
  border-color: #2d336b;
}

div#speciality ul li i {
  font-size: 24px;
  color: #fff2f2;
  padding: 8px;

  transition: all 0.15s ease-in-out;
}

div#speciality ul li i:hover {
  color: #2d336b;
}

article#portofolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

div#portos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 24px;
}

div.portoCard {
  background-color: #2d336b;
  border: 1px solid #2d336b;
  padding: 12px;
  border-radius: 3%;
  color: #fff2f2;
}

div.portoCard-image {
  width: 288px;
  height: 162px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff2f2;
  border-radius: 15px;
}

div.portoCard-image img {
  height: 60px;
}

div.portoCard-content {
  display: flex;
  flex-direction: column;
}

div.portoCard-content h3 {
  font-size: 1.2em;
  padding-top: 8px;
}

div.portoCard-content p {
  font-size: 1em;
  margin-block: 8px;
}

div.portoCard-content a {
  text-decoration: none;
  color: #2d336b;
  background-color: #fff2f2;
  padding: 8px 12px;
  width: max-content;
  border-radius: 16px;
  font-size: 1em;
  font-weight: bold;
  border: 2px solid #2d336b;

  transition: all 0.2s ease-in-out;
}

div.portoCard-content a:hover {
  color: #fff2f2;
  background-color: #2d336b;
  border-color: #fff2f2;
}
