*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 90px;
}

body {
  padding: 0;
  margin: 0;

  height: auto;
  font-family: "Roboto", sans-serif;

  display: flex;
  flex-direction: column;
}

h1,
h2,
h3 {
  margin: 0;
}

h2 {
  font-size: 32px;
}

p {
  font-size: 18px;
  text-align: justify;
}

header {
  background-color: #fff2f2;
  display: inline;
  z-index: 100;
  position: sticky;
  top: 0;

  height: 60px;
}

nav.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 60px;
  border-bottom: 2px solid black;

  height: 100%;
}

nav.header-nav .nav-logo {
  background-color: #2d336b;
  padding: 8px;
  border-radius: 100%;
  border: 2px solid transparent;
  color: #fff2f2;

  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

nav.header-nav .nav-logo:hover {
  background-color: #fff2f2;
  color: #2d336b;
  border-color: #2d336b;
}

nav.header-nav ul {
  display: flex;
  gap: 32px;
  list-style-type: none;
}

nav.header-nav ul li a {
  color: #2d336b;
  font-weight: 700;
  font-size: 1.1rem;
  text-decoration: none;

  transition: all 0.2s ease;
}

nav.header-nav ul li a:hover {
  color: #a9b5df;
  text-decoration: underline;
}

nav.header-nav div#hamburger-logo {
  display: none;
  align-items: center;

  background-color: #fff2f2;
  padding: 8px;
  border-radius: 100%;
  border: 2px solid #2d336b;
  color: #2d336b;

  transition: all 0.2s ease-in-out;
  cursor: pointer;

  height: 40px;
}

nav.header-nav div#hamburger-logo:hover {
  background-color: #2d336b;
  color: #fff2f2;
  border-color: transparent;
}

i#hamburger {
  width: 20px;
  text-align: center;
}

nav#hamburger-nav {
  display: none;
  justify-content: center;
  align-items: center;

  text-align: center;
  width: 100%;

  background-color: #fff2f2;
}

nav#hamburger-nav ul {
  flex: 1;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav#hamburger-nav ul li {
  border-bottom: 2px solid black;
  padding-block: 20px;
}

nav#hamburger-nav ul li a {
  text-decoration: none;
  color: #2d336b;
  font-weight: bold;
  font-size: 1.05em;

  transition: all 0.1s ease-in-out;
}

nav#hamburger-nav ul li a:hover {
  color: #a9b5df;
  text-decoration: underline;
}

main {
  background-color: #fff2f2;
  padding: 0 60px;
}

main article {
  padding-block: 48px 68px;
  padding-inline: 100px;
  margin-block: 20px;
  box-shadow: 0 2px;
  /* border-top: 2px solid black; */
}

article#home {
  display: flex;
  align-items: center;
  gap: 100px;
}

section.home-content {
  align-self: center;
}

section.home-content h1 {
  font-size: 3em;
}

section.home-content ul {
  display: flex;
  gap: 16px;
  list-style-type: none;
  padding: 0;
}

section.home-content ul li {
  width: 40px;
  height: 40px;
  background-color: #2d336b;
  border-radius: 50%;
  border: 2px solid transparent;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: all 0.15s ease-in-out;
}

section.home-content ul li:hover {
  background-color: #fff2f2;
  border-color: #2d336b;
}

section.home-content ul li a i {
  font-size: 24px;
  color: #fff2f2;
  padding: 8px;

  transition: all 0.15s ease-in-out;
}

section.home-content ul li a i:hover {
  color: #2d336b;
}

aside.home-image img {
  width: 280px;
  border-radius: 20px;
}

article#about {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

div#about-content {
  display: flex;
  gap: 16px;
}

div#about-content p {
  flex: 1;
}

section#about-speciality {
  display: flex;
  flex-direction: column;
  align-items: center;
}

div#speciality ul {
  display: flex;
  list-style-type: none;
  gap: 20px;
  padding: 0;
}

div#speciality ul li {
  background-color: #2d336b;
  color: #fff2f2;
  width: 40px;
  height: 40px;

  border-radius: 50%;
  border: 2px solid transparent;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: all 0.15s ease-in-out;
  cursor: pointer;
}

div#speciality ul li:hover {
  background-color: #fff2f2;
  border-color: #2d336b;
}

div#speciality ul li i {
  font-size: 24px;
  color: #fff2f2;
  padding: 8px;

  transition: all 0.15s ease-in-out;
}

div#speciality ul li i:hover {
  color: #2d336b;
}

article#portofolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

div#portos {
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr; */
  display: flex;
  gap: 24px;
}

div.portoCard {
  background-color: #2d336b;
  border: 1px solid #2d336b;
  padding: 12px;
  border-radius: 3%;
  color: #fff2f2;
}

div.portoCard-image {
  width: 288px;
  height: 162px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff2f2;
  border-radius: 15px;
}

div.portoCard-image img {
  height: 60px;
}

div.portoCard-content {
  display: flex;
  flex-direction: column;
}

div.portoCard-content h3 {
  font-size: 1.2em;
  padding-top: 8px;
}

div.portoCard-content p {
  font-size: 1em;
  margin-block: 8px;
}

div.portoCard-content a {
  text-decoration: none;
  color: #2d336b;
  background-color: #fff2f2;
  padding: 8px 12px;
  width: max-content;
  border-radius: 16px;
  font-size: 1em;
  font-weight: bold;
  border: 2px solid #2d336b;

  transition: all 0.2s ease-in-out;
}

div.portoCard-content a:hover {
  color: #fff2f2;
  background-color: #2d336b;
  border-color: #fff2f2;
}

article#contact {
  display: flex;
  flex-direction: column;
  align-items: center;

  /* background-color: red; */
}

article#contact form {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* justify-content: center; */
  align-items: center;
}

article#contact h2 {
  margin-bottom: 16px;
}

div.inputBox {
  display: flex;
  flex-direction: column;

  width: 100%;
}

div.inputBox label {
  margin-bottom: 4px;
}

div.inputBox input,
div.inputBox textarea {
  padding: 8px 8px;
  margin-bottom: 16px;
  border-radius: 4px;
  border: 1.4px solid black;

  background-color: #fff2f2;
}

div.inputBox textarea {
  max-width: 100%;
  min-width: 100%;

  min-height: 60px;
}

button {
  width: max-content;
  padding: 8px 24px;
  background-color: #2d336b;
  border-radius: 8px;
  color: #fff2f2;
  font-weight: bold;
  border: 2px solid transparent;

  transition: all 0.2s ease-in-out;
  cursor: pointer;

  align-self: flex-start;
}

button:hover {
  color: #2d336b;
  background-color: #fff2f2;
  border-color: black;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;

  padding-bottom: 20px;

  background-color: #fff2f2;
}

footer p {
  font-size: 1em;
  font-weight: bold;
}

@media screen and (max-width: 1280px) {
  div#portos {
    justify-content: center;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 1024px) {
  h1 {
    font-size: 2.5em;
  }

  h2 {
    font-size: 1.5em;
  }

  p {
    font-size: 1em;
  }

  article#home {
    gap: 40px;
  }

  aside.home-image img {
    width: 200px;
    border-radius: 20px;
  }

  div.portoCard-image {
    width: 256px;
    height: 144px;
  }
}

@media screen and (max-width: 850px) {
  main article {
    padding-inline: 20px;
  }

  article#home {
    flex-direction: column;
  }

  article#home aside {
    order: -1;
  }

  aside.home-image img {
    width: 280px;
  }

  div#about-content {
    flex-direction: column;
  }

  p#top {
    margin-bottom: 0;
  }

  p#bot {
    margin-top: 0;
  }

  div.portoCard-image {
    width: 320px;
    height: 180px;
  }

  div.inputBox input,
  div.inputBox textarea {
    min-width: 100%;
    width: 100%;
  }
}

@media screen and (max-width: 680px) {
  nav.header-nav ul {
    display: none;
  }

  nav.header-nav div#hamburger-logo {
    display: flex;
  }
}
